/* This is a css comment */

body {
background-color: black;
color: wheat;
font-size: 21px;
}

p{
    color: aqua;
}

/*Three different parts to a div box

Margin: - Adds invisible space all around box that nothing can go in EX: margin-top, margin-bottom, margin-left, margin-right
Border: Adds border to div box. Three variables - border-width, border-width-left/right/top/bottom, border-color, border-style
Padding: Adds invisible space inside div box with background color
All of these add onto the width and height!

Always 
box 

*/

.box{
    background: pink;
    width: 300px;
    margin: 100px;
    border-style: solid;
    border-right-width: 5px;
    border-left-width: 10px;
    border-left-color: blue;
    border-right-color: red;
    border-right-style: solid;
    border-left-style: dotted;
    padding-right: 100px;
}

