body {
background-color: black;
color: wheat;
font-size: 21px;
}

p{
    color: aqua;
}

.intro {
    font-size: 50px;
    color: plum;
}

.steps {
    font-size: 60px;
    color: yellowgreen;
}

h1{
    font-size: 51px;
    color: blueviolet;
}



.highlight {
    color: orange;
    font-size: 70px;
}

.highlight2 {
    color: gainsboro;
}

.top-section {
    background: pink;
    font-size: 29px;
    

}

.mid-section {
    background: yellow;
    font-size: 50px;
    
}

